/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face
{
  font-family: Roboto;
  src: url("Roboto.ttf");
}
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #6F34AD;
  --second-color: #000000 ;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: roboto, sans-serif;
  --big-font-size: 1.5rem;
  --h2-font-size: 2rem;
  --normal-font-size: 0.9rem;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: 1rem;
  color: var(--second-color);
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.15rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;

}
.section{
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;

}

/*===== LAYOUT =====*/

.bd-grid{

  max-width: 1200px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);

}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 1rem 0;
  z-index: var(--z-fixed);
  background-color: #fff;
}
.logo
{
  z-index: 1;
  height: 20px;
  width: 100px;
  display: block;
  position: relative;
  object-fit: cover;
}
.nav__logo
{
  display: block;
  position: relative;
}
.nav__logo::before
{
  left: 0px;
  width: 5%;
  z-index: -1;
  content: " ";
  position: absolute;
  padding: 1rem 1.8rem;
  background: var(--first-color);
}
.nav__logo h1
{
  top: 2px;
  left: 10px;
  color: #fff;
  font-weight: 900;
  position: relative;
}
.nav__logo h1 span
{
  padding: 0 .1rem;
  color: var(--first-color);
}
/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
.nav__item .nav__link{
  position: relative;
  color: #000;
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0px;
    right: -10%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
  .nav__logo h1 span{
    padding: 0 .4rem;
  }
  .nav__item .nav__link{
    color: #fff;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
  color: var(--second-color);
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__link.button-nav
{
  color: #fff;
  padding: .3rem 1.5rem;
  background-color: var(--first-color);
}
.nav__link.button-nav.active
{
  color: #fff;
}
.nav__toggle{
  z-index: 1;
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Active menu ===*/
.nav__link.active
{
  color: #6F34AD;
  font-weight: 900;
  font-family: Roboto!important;
}
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.button-nav{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 5px;
  border-radius: .3rem;
}

.button-nav:hover{
  box-shadow: 0 12px 36px rgba(0,0,0,.15);
  cursor: pointer;
}

/*==== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
  padding: 4px;
}
.home__data p{
  font-size: 16pt;
  word-spacing: 4px;
  text-align: initial;
  padding: .5rem 0 .8rem;
  letter-spacing: 2.5px;
}



.home__title{
  margin: 0px;
  font-size: var(--big-font-size);
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: 0.5;
  font-size: 1.5rem;
  color: var(--first-color);
}
.home__social-icon:hover{
  color: var(--second-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/*-------- BUTTONS ---------*/

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .3rem;
  margin: 1px;
}
.button:hover{
  box-shadow: 0 12px 36px rgba(0,0,0,.15);
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: left;
  align-items: baseline!important;
  grid-template-columns: .6fr 1fr!important;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  width: 320px;
  height: 350px;
  overflow: hidden;
  position: relative;
  justify-self: flex-start;
  border-radius: .5rem;
}
.about__img img{
  z-index: -2;
  height: 100%;
  width: 100%!important;
  display: block;
  object-fit: cover;
  position: relative;
}
.about__img::after
{
  top: 0px;
  left: 0px;
  z-index: 2;
  content: " ";
  height: 100%;
  width: inherit;
  display: block;
  position: absolute;
  background: rgb(111, 52, 173, .4);
}
.about__text
{
  display: block;
  font-size: 14pt;
  padding: 0 0 1rem;
}
/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
  text-align: center;
  
}

.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .28rem;
  border-radius: .4rem;
  z-index: var(--z-back);
}
.skills_back{
  background-color: #AEB5BB;
  position: absolute;
  left: 0;
  bottom: 0;
  height: .28rem;
  border-radius: .4rem;
  z-index: var(--z-back);
  width: 100%;
}
.skills__html{
  width: 85%;
}
.skills__css{
  width:50%;
}
.skills__js{
  width: 40%;
}
.skills__c{
  width: 100%;
}

.skills__python{
  width: 25%;
}

.skills__angular{
  width: 10%;
}
.skills__java{
  width: 55%;
}

.skills__node{
  width: 40%;
}
.skills__img{
  border-radius: .5rem;
}

/* ===== WORK =====*/
.work{
  background-color: whitesmoke;
}

.work__container{
  row-gap: 2rem;
  
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact h2
{
  margin-bottom: 1rem;
}
.contact__img{
  justify-self: center;
}
.contact__img img{
  width: 500px;
}

.contact__input{
  width: 100%;
  font-size: 12pt;
  padding: 1rem;
  outline: none;
  margin-bottom: 1rem;
  border: none;
  color: #333;
  font-weight: 600;
  background-color: #AEB5BB;
}

.contact__container{
  row-gap: 2rem;
  margin-top: 3rem;
  align-items: center; 
  text-align: center;
  justify-items: right;
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  width: 100%;
}

textarea{
  font-family: roboto, sans-serif;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  font-weight: var(--font-semi);
  padding: 0 0 1rem;
  text-align: center;
}

.footer__title{
  font-size: 1rem;
  margin-bottom: 0px;
  float: left;
  left: 5px;
  padding: 5px;
  margin: 1rem 0 0;
}
.footer__social{
  margin-bottom: var(--mb-4);
  float : right;
  right: 10px;
  padding: 10px;
  margin: 1rem;
}
.footer__icon{
  font-size: 1rem;
  color: #fff;
  margin: 0 var(--mb-2);
 
}
.div_footer{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 2px;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.div_inline{
  display: inline-block;
}
.last_footer{
  width: 100%;
}
.last_footer p
{
  margin: 0 0 .5rem;
}
.last_footer p a
{
  color: #fff;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .section-title{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  
  .section-title::after{
    width: 80px;
    top: 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
    align-items: center;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--first-color);
  }
  .nav__link.a{
    color: #fff!important;
  }
  

  .home{
    height: 100vh;
  }
 
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 25%;
  }

  #about{
    grid-template-columns: repeat(2,1fr);
    text-align: initial;
    align-items: baseline;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }

  .div_footer{
    padding: 1px;
  }
 
}
@media(max-width: 768px) {
  .nav__menu{
    display: none!important;
  }
  .nav__menu.show
  {
    display: block!important;
  }
  .about__container
  {
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr!important;
  }
  .about h2
  {
    font-size: 18pt;
  }
  .about__container .about__img
  {
    margin: 0 auto;
  }

}

@media(max-width: 468px) {
  .skills__container
  {
    grid-template-columns: 1fr!important;
    row-gap: 1rem;
  }
  .skills__data
  {
    margin: 0px!important;
  }
}

@media screen and (min-width: 1024px){

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
    float: left;
    left: 10px;
    padding: 10px;
    margin: 1rem;
  }
  .section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-top: var(--mb-2);
    margin-bottom: 4rem;
    text-align: center;
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
   
  }
}


.about.section, .skills.section, .work.section, .contact.section
{
  display: block;
  padding: 6rem 0;
}